# last change: 2016-08-03
#
# Timing
#NET "QOSC_OUT" period = 10 ns ; # 25mhz QOSC
NET "EXTCLK_P" period = 10 ns ;
NET "EXTCLK_N" period = 10 ns ;

NET "QOSC_OUT" TNM = qosc_clk;
#NET "EXTCLK_P" TNM = ext_clk_p;
#NET "EXTCLK_N" TNM = ext_clk_n;


TIMESPEC "TS01"   = PERIOD "qosc_clk" 10 HIGH 5 INPUT_JITTER 0.1; ## period 10ns, 5ns high time, 100ps jitter
#TIMESPEC "extclk_p_spec" = PERIOD "ext_clk_p" 10 HIGH 5 INPUT_JITTER 100;
#TIMESPEC "extclk_n_spec" = PERIOD "ext_clk_n" 10 HIGH 5 INPUT_JITTER 100;


##TIMESPEC TSname=FROM "group1" TO "group2" value [DATAPATHONLY];
#PIN CL0_* TNM=center_pixel;
#PIN FANOUT*_* TNM=fanout_pixel;
#TIMESPEC TS_fanout = FROM "center_pixel" TO "fanout_pixel" 10.1 ns;# DATAPATHONLY;

PIN "DISCR_OUT_*" TNM=discr;
PIN "CL0_*" TNM=cl0_out;
#NET "isd_fabricout*" TNM_NET = discr; # is being ignored by the compiler
#INST in_del_des_8x TNM = discr;
TIMESPEC TS_cl0_tpd = FROM "discr" TO "cl0_out" 11.0 ns;# DATAPATHONLY;

# Bank_0
NET "PROGRAM_B" IOSTANDARD = "LVCMOS25" | LOC = P143;
NET "ETH0_P" IOSTANDARD = "LVDS_25" | LOC = P142;
NET "ETH0_N" IOSTANDARD = "LVDS_25" | LOC = P141;
NET "ETH1_P" IOSTANDARD = "LVDS_25" | LOC = P140;
NET "ETH1_N" IOSTANDARD = "LVDS_25" | LOC = P139;
NET "ETH2_P" IOSTANDARD = "LVDS_25" | LOC = P138;
NET "ETH2_N" IOSTANDARD = "LVDS_25" | LOC = P137;
NET "ETH3_P" IOSTANDARD = "LVDS_25" | LOC = P134;
NET "ETH3_N" IOSTANDARD = "LVDS_25" | LOC = P133;
NET "CL0_P<0>" IOSTANDARD = "LVDS_25" | LOC = P132;
NET "CL0_N<0>" IOSTANDARD = "LVDS_25" | LOC = P131;
NET "CL0_P<1>" IOSTANDARD = "LVDS_25" | LOC = P127;
NET "CL0_N<1>" IOSTANDARD = "LVDS_25" | LOC = P126;
NET "CL0_P<2>" IOSTANDARD = "LVDS_25" | LOC = P124;
NET "CL0_N<2>" IOSTANDARD = "LVDS_25" | LOC = P123;
NET "CL0_P<3>" IOSTANDARD = "LVDS_25" | LOC = P121;
NET "CL0_N<3>" IOSTANDARD = "LVDS_25" | LOC = P120;
NET "CL0_P<4>" IOSTANDARD = "LVDS_25" | LOC = P119;
NET "CL0_N<4>" IOSTANDARD = "LVDS_25" | LOC = P118;
NET "CL0_P<5>" IOSTANDARD = "LVDS_25" | LOC = P117;
NET "CL0_N<5>" IOSTANDARD = "LVDS_25" | LOC = P116;
NET "CL0_P<6>" IOSTANDARD = "LVDS_25" | LOC = P115;
NET "CL0_N<6>" IOSTANDARD = "LVDS_25" | LOC = P114;
#
NET "ADM2483_PV" IOSTANDARD = "LVCMOS25" | LOC = P112;
NET "RS485_TX_ENA" IOSTANDARD = "LVCMOS25" | LOC = P111;

# Bank_1
NET "DAC_SYNC_N" IOSTANDARD = "LVCMOS25" | LOC = P74;
NET "DAC_DIN" IOSTANDARD = "LVCMOS25" | LOC = P75;
NET "DAC_SCLK" IOSTANDARD = "LVCMOS25" | LOC = P78;
NET "DAC_DOUT" IOSTANDARD = "LVCMOS25" | LOC = P79;
#NET "DISCR_OUT_N<7>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P80; # not used
#NET "DISCR_OUT_P<7>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P81; # not used
NET "DISCR_OUT_N<6>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P82;
NET "DISCR_OUT_P<6>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P83;
NET "DISCR_OUT_N<5>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P84;
NET "DISCR_OUT_P<5>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P85;
NET "DISCR_OUT_N<4>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P87;
NET "DISCR_OUT_P<4>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P88;
NET "DISCR_OUT_N<3>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P92;
NET "DISCR_OUT_P<3>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P93;
NET "DISCR_OUT_N<2>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P94;
NET "DISCR_OUT_P<2>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P95;
NET "DISCR_OUT_N<1>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P97;
NET "DISCR_OUT_P<1>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P98; 
NET "DISCR_OUT_N<0>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P99;
NET "DISCR_OUT_P<0>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P100;
NET "RS232_RXD" IOSTANDARD = "LVCMOS25" | LOC = P101;
NET "RS232_TXD" IOSTANDARD = "LVCMOS25" | LOC = P102;
NET "RS485_RXD" IOSTANDARD = "LVCMOS25" | LOC = P104;
NET "RS485_TXD" IOSTANDARD = "LVCMOS25" | LOC = P105;
                                              
# Bank_2
NET "SPARES3_N" IOSTANDARD = "LVDS_25" | LOC = P40;
NET "SPARES3_P" IOSTANDARD = "LVDS_25" | LOC = P41;
NET "CMOS_IO<0>" IOSTANDARD = "LVCMOS25" | SLEW = "FAST" | LOC = P43; # default is SLEW = "SLOW"
NET "CMOS_IO<1>" IOSTANDARD = "LVCMOS25" | SLEW = "FAST" | LOC = P44;
NET "CMOS_IO<2>" IOSTANDARD = "LVCMOS25" | SLEW = "FAST" | LOC = P45;
NET "CMOS_IO_IN<3>" IOSTANDARD = "LVCMOS25" | PULLUP | LOC = P46;
NET "CMOS_IO_IN<4>" IOSTANDARD = "LVCMOS25" | PULLUP | LOC = P47;
NET "CMOS_IO_IN<5>" IOSTANDARD = "LVCMOS25" | PULLUP | LOC = P48;
NET "CMOS_IO_IN<6>" IOSTANDARD = "LVCMOS25" | PULLUP | LOC = P50;
NET "CMOS_IO_IN<7>" IOSTANDARD = "LVCMOS25" | PULLUP | LOC = P51;
NET "LVDS_IO_N<0>" IOSTANDARD = "LVDS_25" | LOC = P55;
NET "LVDS_IO_P<0>" IOSTANDARD = "LVDS_25" | LOC = P56;
NET "LVDS_IO_N<1>" IOSTANDARD = "LVDS_25" | LOC = P57;
NET "LVDS_IO_P<1>" IOSTANDARD = "LVDS_25" | LOC = P58;
NET "LVDS_IO_N<2>" IOSTANDARD = "LVDS_25" | LOC = P61;
NET "LVDS_IO_P<2>" IOSTANDARD = "LVDS_25" | LOC = P62;
NET "LVDS_IO_N<3>" IOSTANDARD = "LVDS_25" | LOC = P66;
NET "LVDS_IO_P<3>" IOSTANDARD = "LVDS_25" | LOC = P67;


# Bank_3
#NET "RESETn" IOSTANDARD = "LVCMOS25" | LOC = P34;
NET "ETH_LED1" IOSTANDARD = "LVCMOS25" | LOC = P33;
NET "ETH_LED2" IOSTANDARD = "LVCMOS25" | LOC = P32;
NET "FPGA_SLOW_CTRL0" IOSTANDARD = "LVCMOS25" | LOC = P30;
NET "FPGA_SLOW_CTRL1" IOSTANDARD = "LVCMOS25" | LOC = P29;
NET "FPGA_SLOW_CTRL2" IOSTANDARD = "LVCMOS25" | LOC = P27;
NET "FPGA_SLOW_CTRL3" IOSTANDARD = "LVCMOS25" | LOC = P26;
NET "QOSC_OUT" IOSTANDARD = "LVCMOS25" | LOC = P24;
NET "QOSC_ENA" IOSTANDARD = "LVCMOS25" | LOC = P23;
NET "EXTCLK_P"  IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P22;
NET "EXTCLK_N"  IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P21;
NET "TIMEPPS_P" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P17;
NET "TIMEPPS_N" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P16;
NET "TRGL1_P"   IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P15;
NET "TRGL1_N"   IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P14;
NET "TRGCONF_P" IOSTANDARD = "LVDS_25" | LOC = P12;
NET "TRGCONF_N" IOSTANDARD = "LVDS_25" | LOC = P11;
NET "TRGTYPE_P<0>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P10;
NET "TRGTYPE_N<0>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P9;
NET "TRGTYPE_P<1>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P8;
NET "TRGTYPE_N<1>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P7;
NET "TRGTYPE_P<2>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P6;
NET "TRGTYPE_N<2>" IOSTANDARD = "LVDS_25" | DIFF_TERM = TRUE | LOC = P5;
NET "IDW_IPADDR" IOSTANDARD = "LVCMOS25" | LOC = P2;
#
