# prevent config. signals from being used
CONFIG PROHIBIT = AA20; # DIN
CONFIG PROHIBIT = A3;   # HSWAPEN
CONFIG PROHIBIT = AA22; # M0
CONFIG PROHIBIT = U15;  # M1
CONFIG PROHIBIT = AB20; # MOSI
CONFIG PROHIBIT = T5;   # CSO_B
CONFIG PROHIBIT = Y21;  # CCLK
CONFIG PROHIBIT = T6;   # INIT_B
#CONFIG PROHIBIT = T20; "DOUT_BUSY"
#
# for migration to LX100
#CONFIG PROHIBIT = Y16; # IO_L17P_2
#CONFIG PROHIBIT = W15; # IO_L17N_2
#CONFIG PROHIBIT = T12; # IO_L22P_2
#CONFIG PROHIBIT = U12; # IO_L22N_2
#CONFIG PROHIBIT = T8; # IO_L51P_2
#CONFIG PROHIBIT = U8; # IO_L51N_2
#CONFIG PROHIBIT = T10; # IO_L52P_2
#CONFIG PROHIBIT = U10; # IO_L52N_2
#CONFIG PROHIBIT = W6; # IO_L53P_2
#CONFIG PROHIBIT = Y6; # IO_L53N_2
#CONFIG PROHIBIT = Y5; # IO_L54P_2
#CONFIG PROHIBIT = AB5; # IO_L54N_2
#
#NET "EBI1_ADDR*"  IOSTANDARD = LVCMOS18 | LOC = BANK0;
#NET "EBI1_D*" IOSTANDARD = LVCMOS18 | DRIVE=2 | SLEW = QUIETIO  | LOC = BANK0; #{FAST|SLOW};
#NET "EBI1_NCS2"  IOSTANDARD = LVCMOS18 | LOC  = BANK0;
#NET "EBI1_NRD"  IOSTANDARD = LVCMOS18 | LOC  = BANK0;
#NET "EBI1_NWAIT"  IOSTANDARD = LVCMOS18 | DRIVE=2 | SLEW = QUIETIO  | LOC  =BANK0;
#NET "EBI1_NWE"  IOSTANDARD = LVCMOS18 | LOC  = BANK0;
#
CONFIG VCCAUX = "3.3"; 
#CONFIG VCCAUX = "2.5";
#
#
NET "ADC_CS_4" LOC = R19;
NET "ADC_CSA<1>" LOC = AB11;
NET "ADC_CSA<2>" LOC = R9;
NET "ADC_CSA<3>" LOC = AB16;
NET "ADC_CSB<1>" LOC = Y11;
NET "ADC_CSB<2>" LOC = R8;
NET "ADC_CSB<3>" LOC = W13;
NET "ADC_DCO_4N" LOC = J16;
NET "ADC_DCO_4P" LOC = K16;
NET "ADC_DCOA_N<1>" LOC = D20;
NET "ADC_DCOA_N<2>" LOC = F19;
NET "ADC_DCOA_N<3>" LOC = G17;
NET "ADC_DCOA_P<1>" LOC = D19;
NET "ADC_DCOA_P<2>" LOC = F18;
NET "ADC_DCOA_P<3>" LOC = G16;
NET "ADC_DCOB_N<1>" LOC = A21;
NET "ADC_DCOB_N<2>" LOC = F17;
NET "ADC_DCOB_N<3>" LOC = H17;
NET "ADC_DCOB_P<1>" LOC = A20;
NET "ADC_DCOB_P<2>" LOC = F16;
NET "ADC_DCOB_P<3>" LOC = H16;
NET "ADC_ENC_4N" LOC = Y18;
NET "ADC_ENC_4P" LOC = W18;
NET "ADC_ENC_N<1>" LOC = R15;
NET "ADC_ENC_N<2>" LOC = W17;
NET "ADC_ENC_N<3>" LOC = T15;
NET "ADC_ENC_P<1>" LOC = R16;
NET "ADC_ENC_P<2>" LOC = V17;
NET "ADC_ENC_P<3>" LOC = T16;
NET "ADC_FR_4N" LOC = K1;
NET "ADC_FR_4P" LOC = K2;
NET "ADC_FRA_N<1>" LOC = F5;
NET "ADC_FRA_N<2>" LOC = M1;
NET "ADC_FRA_N<3>" LOC = T3;
NET "ADC_FRA_P<1>" LOC = G6;
NET "ADC_FRA_P<2>" LOC = M2;
NET "ADC_FRA_P<3>" LOC = T4;
NET "ADC_FRB_N<1>" LOC = F3;
NET "ADC_FRB_N<2>" LOC = N1;
NET "ADC_FRB_N<3>" LOC = U1;
NET "ADC_FRB_P<1>" LOC = G4;
NET "ADC_FRB_P<2>" LOC = N3;
NET "ADC_FRB_P<3>" LOC = U3;

# the DRS4 input channels have the "wrong direction" ch0 is ch7, ch1 is ch6...
# in order to keep the same pin names as in the schematic we simply declare
# ADC_OUTA_xN/P as vectors (0 to 7) but use it like (7 downto 0)
NET "ADC_OUTA_1N<0>" LOC = E1;
NET "ADC_OUTA_1N<1>" LOC = E4;
NET "ADC_OUTA_1N<2>" LOC = D1;
NET "ADC_OUTA_1N<3>" LOC = C1;
NET "ADC_OUTA_1N<4>" LOC = F1;
NET "ADC_OUTA_1N<5>" LOC = G1;
NET "ADC_OUTA_1N<6>" LOC = H8;
NET "ADC_OUTA_1N<7>" LOC = H5;
NET "ADC_OUTA_1P<0>" LOC = E3;
NET "ADC_OUTA_1P<1>" LOC = D5;
NET "ADC_OUTA_1P<2>" LOC = D2;
NET "ADC_OUTA_1P<3>" LOC = C3;
NET "ADC_OUTA_1P<4>" LOC = F2;
NET "ADC_OUTA_1P<5>" LOC = G3;
NET "ADC_OUTA_1P<6>" LOC = J7;
NET "ADC_OUTA_1P<7>" LOC = H6;
NET "ADC_OUTA_2N<0>" LOC = M4;
NET "ADC_OUTA_2N<1>" LOC = L6;
NET "ADC_OUTA_2N<2>" LOC = L1;
NET "ADC_OUTA_2N<3>" LOC = M8;
NET "ADC_OUTA_2N<4>" LOC = N7;
NET "ADC_OUTA_2N<5>" LOC = N4;
NET "ADC_OUTA_2N<6>" LOC = R1;
NET "ADC_OUTA_2N<7>" LOC = P1;
NET "ADC_OUTA_2P<0>" LOC = M5;
NET "ADC_OUTA_2P<1>" LOC = M6;
NET "ADC_OUTA_2P<2>" LOC = L3;
NET "ADC_OUTA_2P<3>" LOC = M7;
NET "ADC_OUTA_2P<4>" LOC = N6;
NET "ADC_OUTA_2P<5>" LOC = P3;
NET "ADC_OUTA_2P<6>" LOC = R3;
NET "ADC_OUTA_2P<7>" LOC = P2;
NET "ADC_OUTA_3N<0>" LOC = T1;
NET "ADC_OUTA_3N<1>" LOC = P7;
NET "ADC_OUTA_3N<2>" LOC = P5;
NET "ADC_OUTA_3N<3>" LOC = P4;
NET "ADC_OUTA_3N<4>" LOC = Y1;
NET "ADC_OUTA_3N<5>" LOC = V1;
NET "ADC_OUTA_3N<6>" LOC = V3;
NET "ADC_OUTA_3N<7>" LOC = W1;
NET "ADC_OUTA_3P<0>" LOC = T2;
NET "ADC_OUTA_3P<1>" LOC = P8;
NET "ADC_OUTA_3P<2>" LOC = P6;
NET "ADC_OUTA_3P<3>" LOC = R4;
NET "ADC_OUTA_3P<4>" LOC = Y2;
NET "ADC_OUTA_3P<5>" LOC = V2;
NET "ADC_OUTA_3P<6>" LOC = U4;
NET "ADC_OUTA_3P<7>" LOC = W3;

# The pins for the adc are mis identified above. Correcting below.
#NET "ADC_OUTA_1P<7>" LOC = E3;
#NET "ADC_OUTA_1N<7>" LOC = E1;
#NET "ADC_OUTA_1P<6>" LOC = D5;
#NET "ADC_OUTA_1N<6>" LOC = E4;
#nET "ADC_OUTA_1P<5>" LOC = D2;
#NET "ADC_OUTA_1N<5>" LOC = D1;
#NET "ADC_OUTA_1P<4>" LOC = C3;
#NET "ADC_OUTA_1N<4>" LOC = C1;
#NET "ADC_OUTA_1P<3>" LOC = F2;
#NET "ADC_OUTA_1N<3>" LOC = F1;
#NET "ADC_OUTA_1P<2>" LOC = G3;
#NET "ADC_OUTA_1N<2>" LOC = G1;
#NET "ADC_OUTA_1P<1>" LOC = J7;
#NET "ADC_OUTA_1N<1>" LOC = H8;
#NET "ADC_OUTA_1P<0>" LOC = H6;
#NET "ADC_OUTA_1N<0>" LOC = H5;
#NET "ADC_OUTA_2N<7>" LOC = M4;
#NET "ADC_OUTA_2N<6>" LOC = L6;
#NET "ADC_OUTA_2N<5>" LOC = L1;
#NET "ADC_OUTA_2N<4>" LOC = M8;
#NET "ADC_OUTA_2N<3>" LOC = N7;
#NET "ADC_OUTA_2N<2>" LOC = N4;
#NET "ADC_OUTA_2N<1>" LOC = R1;
#NET "ADC_OUTA_2N<0>" LOC = P1;
#NET "ADC_OUTA_2P<7>" LOC = M5;
#NET "ADC_OUTA_2P<6>" LOC = M6;
#NET "ADC_OUTA_2P<5>" LOC = L3;
#NET "ADC_OUTA_2P<4>" LOC = M7;
#NET "ADC_OUTA_2P<3>" LOC = N6;
#NET "ADC_OUTA_2P<2>" LOC = P3;
#NET "ADC_OUTA_2P<1>" LOC = R3;
#NET "ADC_OUTA_2P<0>" LOC = P2;
#NET "ADC_OUTA_3N<7>" LOC = T1;
#NET "ADC_OUTA_3N<6>" LOC = P7;
#NET "ADC_OUTA_3N<5>" LOC = P5;
#NET "ADC_OUTA_3N<4>" LOC = P4;
#NET "ADC_OUTA_3N<3>" LOC = Y1;
#NET "ADC_OUTA_3N<2>" LOC = V1;
#NET "ADC_OUTA_3N<1>" LOC = V3;
#NET "ADC_OUTA_3N<0>" LOC = W1;
#NET "ADC_OUTA_3P<7>" LOC = T2;
#NET "ADC_OUTA_3P<6>" LOC = P8;
#NET "ADC_OUTA_3P<5>" LOC = P6;
#NET "ADC_OUTA_3P<4>" LOC = R4;
#NET "ADC_OUTA_3P<3>" LOC = Y2;
#NET "ADC_OUTA_3P<2>" LOC = V2;
#NET "ADC_OUTA_3P<1>" LOC = U4;
#NET "ADC_OUTA_3P<0>" LOC = W3;

NET "ADC_OUTA_4N<0>" LOC = H3;
NET "ADC_OUTA_4N<1>" LOC = H1;
NET "ADC_OUTA_4N<2>" LOC = J6;
NET "ADC_OUTA_4N<3>" LOC = K8;
NET "ADC_OUTA_4P<0>" LOC = H4;
NET "ADC_OUTA_4P<1>" LOC = H2;
NET "ADC_OUTA_4P<2>" LOC = K6;
NET "ADC_OUTA_4P<3>" LOC = K7;
#NET "ADC_PAR_SERn" LOC = K18; dont use! the adc can handle max. 1,8V...
NET "ADC_SCK" LOC = Y9;
NET "ADC_SDI" LOC = AA10;
NET "ADC_SDO_4" LOC = F7;
NET "ADDR_64BIT" LOC = V20;
NET "AERA_TRIG_N" LOC = T17;
NET "AERA_TRIG_P" LOC = T18;
NET "CBL_PLGDn<1>" LOC = A2;
NET "CBL_PLGDn<2>" LOC = J3;
NET "CBL_PLGDn<3>" LOC = M3;
NET "TEST_DAC_SCL" LOC = W20; //OUT_TERM = UNTUNED_75 | LOC = W20;
NET "TEST_DAC_SDA" LOC = AA2; //OUT_TERM = UNTUNED_75 | LOC = AA2;
NET "TEST_GATE<1>" LOC = AA8; //OUT_TERM = UNTUNED_75 | LOC = AA8;
NET "TEST_GATE<2>" LOC = V11; //OUT_TERM = UNTUNED_75 | LOC = V11;
NET "TEST_GATE<3>" LOC = Y10; //OUT_TERM = UNTUNED_75 | LOC = Y10;
NET "TEST_PDn" LOC = U17;
NET "I2C_CLK<1>" LOC = U9;
NET "I2C_CLK<2>" LOC = V13;
NET "I2C_CLK<3>" LOC = T19;
NET "DAC_DIN<1>" LOC = V7;
NET "DAC_DIN<2>" LOC = V9;
NET "DAC_DIN<3>" LOC = Y12;
NET "DAC_SCLK<1>" LOC = R7;
NET "DAC_SCLK<2>" LOC = T7;
NET "DAC_SCLK<3>" LOC = AA16;
NET "DAC_SYNCn<1>" LOC = AB10;
NET "DAC_SYNCn<2>" LOC = AB6;
NET "DAC_SYNCn<3>" LOC = AB13;
NET "DISCR_OUT_1N<0>" LOC = C22;
NET "DISCR_OUT_1N<1>" LOC = D22;
NET "DISCR_OUT_1N<2>" LOC = E22;
NET "DISCR_OUT_1N<3>" LOC = F22;
NET "DISCR_OUT_1N<4>" LOC = F20;
NET "DISCR_OUT_1N<5>" LOC = G22;
NET "DISCR_OUT_1N<6>" LOC = H22;
NET "DISCR_OUT_1N<7>" LOC = J22;
NET "DISCR_OUT_1P<0>" LOC = C20;
NET "DISCR_OUT_1P<1>" LOC = D21;
NET "DISCR_OUT_1P<2>" LOC = E20;
NET "DISCR_OUT_1P<3>" LOC = F21;
NET "DISCR_OUT_1P<4>" LOC = G19;
NET "DISCR_OUT_1P<5>" LOC = G20;
NET "DISCR_OUT_1P<6>" LOC = H21;
NET "DISCR_OUT_1P<7>" LOC = J20;

# IceScint
NET "PANEL_NP24V_ON<0>" LOC = H18;
NET "PANEL_NP24V_ON<1>" LOC = K17;
NET "PANEL_NP24V_ON<2>" LOC = V22;
NET "PANEL_NP24V_ON<3>" LOC = T22;
NET "PANEL_NP24V_ON<4>" LOC = P22;
NET "PANEL_NP24V_ON<5>" LOC = M22;
NET "PANEL_NP24V_ON<6>" LOC = L22;
NET "PANEL_NP24V_ON<7>" LOC = K22;
NET "PANEL_RS485_D<0>" LOC = B22;
NET "PANEL_RS485_D<1>" LOC = J19;
NET "PANEL_RS485_D<2>" LOC = N19;
NET "PANEL_RS485_D<3>" LOC = U22;
NET "PANEL_RS485_D<4>" LOC = R22;
NET "PANEL_RS485_D<5>" LOC = N22;
NET "PANEL_RS485_D<6>" LOC = L19;
NET "PANEL_RS485_D<7>" LOC = K19;
NET "PANEL_RS485_DE<0>" LOC = B21;
NET "PANEL_RS485_DE<1>" LOC = H20;
NET "PANEL_RS485_DE<2>" LOC = M19;
NET "PANEL_RS485_DE<3>" LOC = U20;
NET "PANEL_RS485_DE<4>" LOC = R20;
NET "PANEL_RS485_DE<5>" LOC = N20;
NET "PANEL_RS485_DE<6>" LOC = M20;
NET "PANEL_RS485_DE<7>" LOC = K20;
NET "NOT_USED_GND<0>" LOC = T21;
NET "NOT_USED_GND<1>" LOC = V21;
NET "NOT_USED_GND<2>" LOC = J17;
NET "NOT_USED_GND<3>" LOC = H19;
NET "NOT_USED_GND<4>" LOC = K21;
NET "NOT_USED_GND<5>" LOC = L20;
NET "NOT_USED_GND<6>" LOC = M21;
NET "NOT_USED_GND<7>" LOC = P21;

#Taxi:
#NET "DISCR_OUT_2N<0>" LOC = T22;
#NET "DISCR_OUT_2N<1>" LOC = U22;
#NET "DISCR_OUT_2N<2>" LOC = V22;
#NET "DISCR_OUT_2N<3>" LOC = N19;
#NET "DISCR_OUT_2N<4>" LOC = K17;
#NET "DISCR_OUT_2N<5>" LOC = J19;
#NET "DISCR_OUT_2N<6>" LOC = H18;
#NET "DISCR_OUT_2N<7>" LOC = B22;
#NET "DISCR_OUT_2P<0>" LOC = T21;
#NET "DISCR_OUT_2P<1>" LOC = U20;
#NET "DISCR_OUT_2P<2>" LOC = V21;
#NET "DISCR_OUT_2P<3>" LOC = M19;
#NET "DISCR_OUT_2P<4>" LOC = J17;
#NET "DISCR_OUT_2P<5>" LOC = H20;
#NET "DISCR_OUT_2P<6>" LOC = H19;
#NET "DISCR_OUT_2P<7>" LOC = B21;
#NET "DISCR_OUT_3N<0>" LOC = K22;
#NET "DISCR_OUT_3N<1>" LOC = K19;
#NET "DISCR_OUT_3N<2>" LOC = L22;
#NET "DISCR_OUT_3N<3>" LOC = L19;
#NET "DISCR_OUT_3N<4>" LOC = M22;
#NET "DISCR_OUT_3N<5>" LOC = N22;
#NET "DISCR_OUT_3N<6>" LOC = P22;
#NET "DISCR_OUT_3N<7>" LOC = R22;
#NET "DISCR_OUT_3P<0>" LOC = K21;
#NET "DISCR_OUT_3P<1>" LOC = K20;
#NET "DISCR_OUT_3P<2>" LOC = L20;
#NET "DISCR_OUT_3P<3>" LOC = M20;
#NET "DISCR_OUT_3P<4>" LOC = M21;
#NET "DISCR_OUT_3P<5>" LOC = N20;
#NET "DISCR_OUT_3P<6>" LOC = P21;
#NET "DISCR_OUT_3P<7>" LOC = R20;

NET "DRS4_A<0>" LOC = V5;
NET "DRS4_A<1>" LOC = W12;
NET "DRS4_A<2>" LOC = Y13;
NET "DRS4_A<3>" LOC = AA12;
NET "DRS4_DENABLE<1>" LOC = T14;
NET "DRS4_DENABLE<2>" LOC = W4;
NET "DRS4_DENABLE<3>" LOC = AB2;
NET "DRS4_DTAP<1>" LOC = C4;
NET "DRS4_DTAP<2>" LOC = D3;
NET "DRS4_DTAP<3>" LOC = K3;
NET "DRS4_DWRITE<1>" LOC = M18;
NET "DRS4_DWRITE<2>" LOC = Y15;
NET "DRS4_DWRITE<3>" LOC = AA4;
NET "DRS4_PLLLCK<1>" LOC = B3;
NET "DRS4_PLLLCK<2>" LOC = B1;
NET "DRS4_PLLLCK<3>" LOC = E6;
NET "DRS4_REFCLK_N<1>" LOC = AB19;
NET "DRS4_REFCLK_N<2>" LOC = AB18;
NET "DRS4_REFCLK_N<3>" LOC = AB14;
NET "DRS4_REFCLK_P<1>" LOC = Y19;
NET "DRS4_REFCLK_P<2>" LOC = AA18;
NET "DRS4_REFCLK_P<3>" LOC = AA14;
NET "DRS4_RESETn<1>" LOC = R13;
NET "DRS4_RESETn<2>" LOC = Y14;
NET "DRS4_RESETn<3>" LOC = AB15;
NET "DRS4_RSLOAD<1>" LOC = V15;
NET "DRS4_RSLOAD<2>" LOC = Y7;
NET "DRS4_RSLOAD<3>" LOC = AA6;
NET "DRS4_SRCLK<1>" LOC = W14;
NET "DRS4_SRCLK<2>" LOC = Y3;
NET "DRS4_SRCLK<3>" LOC = AB4;
NET "DRS4_SRIN<1>" LOC = U6;
NET "DRS4_SRIN<2>" LOC = Y4;
NET "DRS4_SRIN<3>" LOC = AB3;
NET "DRS4_SROUT<1>" LOC = B2;
NET "DRS4_SROUT<2>" LOC = E5;
NET "DRS4_SROUT<3>" LOC = G7;
NET "EBI1_ADDR<0>" LOC = D7;
NET "EBI1_ADDR<1>" LOC = A4;
NET "EBI1_ADDR<10>" LOC = D11;
NET "EBI1_ADDR<11>" LOC = A7;
NET "EBI1_ADDR<12>" LOC = A10;
NET "EBI1_ADDR<13>" LOC = D9;
NET "EBI1_ADDR<14>" LOC = C11;
NET "EBI1_ADDR<15>" LOC = C9;
NET "EBI1_ADDR<16>" LOC = A11;
NET "EBI1_ADDR<17>" LOC = C10;
NET "EBI1_ADDR<18>" LOC = C12;
NET "EBI1_ADDR<19>" LOC = B10;
NET "EBI1_ADDR<2>" LOC = D8;
NET "EBI1_ADDR<20>" LOC = A15;
NET "EBI1_ADDR<3>" LOC = D6;
NET "EBI1_ADDR<4>" LOC = C8;
NET "EBI1_ADDR<5>" LOC = B6;
NET "EBI1_ADDR<6>" LOC = A8;
NET "EBI1_ADDR<7>" LOC = C6;
NET "EBI1_ADDR<8>" LOC = D10;
NET "EBI1_ADDR<9>" LOC = C7;
NET "EBI1_D<0>" LOC = A13;
NET "EBI1_D<1>" LOC = B12;
NET "EBI1_D<10>" LOC = A16;
NET "EBI1_D<11>" LOC = E16;
NET "EBI1_D<12>" LOC = A17;
NET "EBI1_D<13>" LOC = B16;
NET "EBI1_D<14>" LOC = B18;
NET "EBI1_D<15>" LOC = C17;
NET "EBI1_D<2>" LOC = C14;
NET "EBI1_D<3>" LOC = C13;
NET "EBI1_D<4>" LOC = A14;
NET "EBI1_D<5>" LOC = D14;
NET "EBI1_D<6>" LOC = C15;
NET "EBI1_D<7>" LOC = B14;
NET "EBI1_D<8>" LOC = C16;
NET "EBI1_D<9>" LOC = D15;
NET "EBI1_MCK" LOC = A12;
NET "EBI1_NCS2" LOC = B8;
NET "EBI1_NRD" LOC = D17;
NET "EBI1_NWAIT" LOC = A18;
NET "EBI1_NWE" LOC = A9;
NET "EXT_CLK_N" LOC = K4;
NET "EXT_CLK_P" LOC = K5;
NET "EXT_PPS_N" LOC = A5;
NET "EXT_PPS_P" LOC = C5;
NET "EXT_TRIG_IN_N" LOC = B20;
NET "EXT_TRIG_IN_P" LOC = C19;
NET "EXT_TRIG_OUT_N" LOC = AB21;
NET "EXT_TRIG_OUT_P" LOC = AA21;
NET "GPS_EXTINT0" LOC = M17;
NET "GPS_RESET_N" LOC = R11;
NET "GPS_RXD1" LOC = A6;
NET "GPS_TXD1" LOC = P18;
NET "GPS_TIMEPULSE" LOC = W10;
NET "GPS_TIMEPULSE2" LOC = J4;
NET "I2C_DATA<1>" LOC = M16;
NET "I2C_DATA<2>" LOC = L15;
NET "I2C_DATA<3>" LOC = P19;

#
NET "LVDS_IO_P<0>" LOC = T12 | IOSTANDARD = LVCMOS25;
NET "LVDS_IO_N<0>" LOC = U12 | IOSTANDARD = LVDS_25;
NET "LVDS_IO_P<1>" LOC = Y16 | IOSTANDARD = LVDS_25;
NET "LVDS_IO_N<1>" LOC = W15 | IOSTANDARD = LVDS_25;
NET "LVDS_IO_P<2>" LOC = T10 | IOSTANDARD = LVDS_25;
NET "LVDS_IO_N<2>" LOC = U10 | IOSTANDARD = LVDS_25;
NET "LVDS_IO_P<3>" LOC = T8 | IOSTANDARD = LVDS_25;
NET "LVDS_IO_N<3>" LOC = U8 | IOSTANDARD = LVDS_25;
NET "LVDS_IO_P<4>" LOC = W6 | IOSTANDARD = LVDS_25;
NET "LVDS_IO_N<4>" LOC = Y6 | IOSTANDARD = LVDS_25;
NET "LVDS_IO_P<5>" LOC = Y5 | IOSTANDARD = LVCMOS25;
NET "LVDS_IO_N<5>" LOC = AB5 | IOSTANDARD = LVCMOS25;

#
NET "PON_PADDLEn<1>" LOC = V18;
NET "PON_PADDLEn<2>" LOC = U16;
NET "PON_PADDLEn<3>" LOC = AB17;
NET "POW_SW_SCL" LOC = U13;
NET "POW_SW_SDA" LOC = V19;
NET "TEMPERATURE" LOC = Y17;
NET "POW_ALERT" LOC = U14 | PULLUP;
#
NET "PC1_ARM_IRQ0" LOC = U19;
NET "PON_RESETn" LOC = Y8;
NET "QOSC1_DAC_SYNCn" LOC = W8;
NET "QOSC1_OUT" LOC = L4 | TNM_NET = "QOSC1_OUT" | IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
TIMESPEC "TS_QOSC1_OUT" = PERIOD "QOSC1_OUT" 40 ns HIGH 50%;
NET "QOSC2_OUT" LOC = J1 | TNM_NET = "QOSC2_OUT" | IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
TIMESPEC "TS_QOSC2_OUT" = PERIOD "QOSC2_OUT" 100 ns HIGH 50%;
NET "QOSC2_DAC_SCKL" LOC = AB9;
NET "QOSC2_DAC_SDIN" LOC = P20;
NET "QOSC2_DAC_SYNCn" LOC = W22;
NET "QOSC2_ENA" LOC = AB12;
NET "RS232_RXD" LOC = AB8;
NET "RS232_TXD" LOC = P17;
NET "RS485_DE" LOC = W11;
NET "RS485_PV" LOC = AB7;
NET "RS485_REn" LOC = L17;
NET "RS485_RXD" LOC = W9;
NET "RS485_TXD" LOC = N16;
#NET	"STAMP_CTS1"	LOC	=	W8;
#NET	"STAMP_RTS1"	LOC	=	Y10;
#NET	"STAMP_RXD1"	LOC	=	V11;
#NET	"STAMP_TXD1"	LOC	=	AA8;
NET "ADC_CS_4" DRIVE = 24 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "ADC_CSA<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "ADC_CSA<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "ADC_CSA<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "ADC_CSB<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "ADC_CSB<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "ADC_CSB<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "ADC_DCO_4N" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_DCO_4P" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_DCOA_N<1>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_DCOA_N<2>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_DCOA_N<3>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_DCOA_P<1>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_DCOA_P<2>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_DCOA_P<3>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_DCOB_N<1>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_DCOB_N<2>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_DCOB_N<3>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_DCOB_P<1>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_DCOB_P<2>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_DCOB_P<3>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_ENC_4N" IOSTANDARD = LVDS_25;
NET "ADC_ENC_4P" IOSTANDARD = LVDS_25;
NET "ADC_ENC_N<1>" IOSTANDARD = LVDS_25;
NET "ADC_ENC_N<2>" IOSTANDARD = LVDS_25;
NET "ADC_ENC_N<3>" IOSTANDARD = LVDS_25;
NET "ADC_ENC_P<1>" IOSTANDARD = LVDS_25;
NET "ADC_ENC_P<2>" IOSTANDARD = LVDS_25;
NET "ADC_ENC_P<3>" IOSTANDARD = LVDS_25;
NET "ADC_FR_4N" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_FR_4P" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_FRA_N<1>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_FRA_N<2>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_FRA_N<3>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_FRA_P<1>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_FRA_P<2>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_FRA_P<3>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_FRB_N<1>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_FRB_N<2>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_FRB_N<3>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_FRB_P<1>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_FRB_P<2>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_FRB_P<3>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1N<0>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1N<1>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1N<2>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1N<3>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1N<4>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1N<5>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1N<6>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1N<7>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1P<0>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1P<1>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1P<2>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1P<3>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1P<4>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1P<5>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1P<6>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_1P<7>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2N<0>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2N<1>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2N<2>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2N<3>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2N<4>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2N<5>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2N<6>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2N<7>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2P<0>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2P<1>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2P<2>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2P<3>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2P<4>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2P<5>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2P<6>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_2P<7>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3N<0>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3N<1>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3N<2>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3N<3>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3N<4>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3N<5>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3N<6>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3N<7>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3P<0>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3P<1>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3P<2>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3P<3>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3P<4>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3P<5>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3P<6>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_3P<7>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_4N<0>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_4N<1>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_4N<2>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_4N<3>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_4P<0>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_4P<1>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_4P<2>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_OUTA_4P<3>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "ADC_PAR_SERn" DRIVE = 16 | IOSTANDARD = LVCMOS25 | SLEW = SLOW; # This Should be tied to ground at PCB
NET "ADC_SCK" DRIVE = 16 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "ADC_SDI" DRIVE = 16 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "ADC_SDO_4" IOBDELAY = NONE | PULLUP | IOSTANDARD = LVCMOS25;
NET "ADDR_64BIT" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "AERA_TRIG_N" IOSTANDARD = LVDS_25;
NET "AERA_TRIG_P" IOSTANDARD = LVDS_25;
NET "CBL_PLGDn<1>" IOBDELAY = NONE | IOSTANDARD = LVCMOS25 | PULLUP;
NET "CBL_PLGDn<2>" IOBDELAY = NONE | IOSTANDARD = LVCMOS25 | PULLUP;
NET "CBL_PLGDn<3>" IOBDELAY = NONE | IOSTANDARD = LVCMOS25 | PULLUP;
NET "DAC_DIN<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DAC_DIN<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DAC_DIN<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DAC_SCLK<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DAC_SCLK<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DAC_SCLK<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DAC_SYNCn<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DAC_SYNCn<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DAC_SYNCn<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DISCR_OUT_1N<0>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1N<1>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1N<2>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1N<3>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1N<4>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1N<5>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1N<6>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1N<7>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1P<0>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1P<1>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1P<2>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1P<3>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1P<4>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1P<5>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1P<6>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DISCR_OUT_1P<7>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
# iceScint:
NET "NOT_USED_GND<0>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "NOT_USED_GND<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "NOT_USED_GND<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "NOT_USED_GND<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "NOT_USED_GND<4>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "NOT_USED_GND<5>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "NOT_USED_GND<6>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "NOT_USED_GND<7>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_NP24V_ON<0>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_NP24V_ON<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_NP24V_ON<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_NP24V_ON<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_NP24V_ON<4>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_NP24V_ON<5>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_NP24V_ON<6>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_NP24V_ON<7>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_D<0>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_D<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_D<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_D<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_D<4>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_D<5>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_D<6>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_D<7>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_DE<0>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_DE<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_DE<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_DE<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_DE<4>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_DE<5>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_DE<6>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PANEL_RS485_DE<7>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;

# Taxi:
#NET "DISCR_OUT_2N<0>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2N<1>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2N<2>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2N<3>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2N<4>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2N<5>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2N<6>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2N<7>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2P<0>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2P<1>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2P<2>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2P<3>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2P<4>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2P<5>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2P<6>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_2P<7>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3N<0>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3N<1>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3N<2>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3N<3>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3N<4>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3N<5>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3N<6>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3N<7>" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3P<0>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3P<1>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3P<2>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3P<3>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3P<4>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3P<5>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3P<6>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "DISCR_OUT_3P<7>" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "DRS4_A<0>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_A<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_A<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_A<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_DENABLE<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_DENABLE<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_DENABLE<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_DTAP<1>" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
NET "DRS4_DTAP<2>" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
NET "DRS4_DTAP<3>" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
#NET "DRS4_DTAP<1>" SLEW = SLOW | IOSTANDARD = LVCMOS25 | OUT_TERM = UNTUNED_75;
#NET "DRS4_DTAP<2>" SLEW = SLOW | IOSTANDARD = LVCMOS25 | OUT_TERM = UNTUNED_75;
#NET "DRS4_DTAP<3>" SLEW = SLOW | IOSTANDARD = LVCMOS25 | OUT_TERM = UNTUNED_75;
NET "DRS4_DWRITE<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_DWRITE<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_DWRITE<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_PLLLCK<1>" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
NET "DRS4_PLLLCK<2>" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
NET "DRS4_PLLLCK<3>" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
NET "DRS4_REFCLK_N<1>" IOSTANDARD = LVDS_25;
NET "DRS4_REFCLK_N<2>" IOSTANDARD = LVDS_25;
NET "DRS4_REFCLK_N<3>" IOSTANDARD = LVDS_25;
NET "DRS4_REFCLK_P<1>" IOSTANDARD = LVDS_25;
NET "DRS4_REFCLK_P<2>" IOSTANDARD = LVDS_25;
NET "DRS4_REFCLK_P<3>" IOSTANDARD = LVDS_25;
NET "DRS4_RESETn<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_RESETn<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_RESETn<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_RSLOAD<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_RSLOAD<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_RSLOAD<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_SRCLK<1>" IOSTANDARD = LVCMOS25 | SLEW = SLOW | OUT_TERM = UNTUNED_75;
NET "DRS4_SRCLK<2>" IOSTANDARD = LVCMOS25 | SLEW = SLOW | OUT_TERM = UNTUNED_75;
NET "DRS4_SRCLK<3>" IOSTANDARD = LVCMOS25 | SLEW = SLOW | OUT_TERM = UNTUNED_75;
NET "DRS4_SRIN<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_SRIN<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_SRIN<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "DRS4_SROUT<1>" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
NET "DRS4_SROUT<2>" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
NET "DRS4_SROUT<3>" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
NET "EBI1_ADDR<0>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<1>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<2>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<3>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<4>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<5>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<6>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<7>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<8>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<9>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<10>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<11>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<12>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<13>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<14>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<15>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<16>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<17>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<18>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<19>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_ADDR<20>" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_D<0>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<1>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<2>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<3>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<4>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<5>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<6>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<7>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<8>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<9>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<10>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<11>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<12>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<13>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<14>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_D<15>" DRIVE = 2 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_MCK" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_NCS2" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_NRD" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EBI1_NWAIT" DRIVE = 12 | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "EBI1_NWE" IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET "EXT_CLK_N" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "EXT_CLK_P" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "EXT_PPS_N" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "EXT_PPS_P" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "EXT_TRIG_IN_N" IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "EXT_TRIG_IN_P" IOBDELAY = NONE | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "EXT_TRIG_OUT_N" IOSTANDARD = LVDS_25;
NET "EXT_TRIG_OUT_P" IOSTANDARD = LVDS_25;
NET "GPS_EXTINT0" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "GPS_RESET_N" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "GPS_TXD1" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;# dummy, required by io-designer
NET "GPS_RXD1" DRIVE = 12 | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "GPS_TIMEPULSE" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
NET "GPS_TIMEPULSE2" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
NET "I2C_CLK<1>" DRIVE = 16 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | OPEN_DRAIN;
NET "I2C_CLK<2>" DRIVE = 16 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | OPEN_DRAIN;
NET "I2C_CLK<3>" DRIVE = 16 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | OPEN_DRAIN;
NET "I2C_DATA<1>" DRIVE = 16 | IOBDELAY = NONE | IOSTANDARD = LVCMOS25 | SLEW = SLOW | OPEN_DRAIN;
NET "I2C_DATA<2>" DRIVE = 16 | IOBDELAY = NONE | IOSTANDARD = LVCMOS25 | SLEW = SLOW | OPEN_DRAIN;
NET "I2C_DATA<3>" DRIVE = 16 | IOBDELAY = NONE | IOSTANDARD = LVCMOS25 | SLEW = SLOW | OPEN_DRAIN;

#
#NET "LVDS_IO_P<0>" IOBDELAY = NONE | OUT_TERM = UNTUNED_75 | IOSTANDARD = LVCMOS25;
#NET "LVDS_IO_N<0>" IOBDELAY = NONE | OUT_TERM = UNTUNED_75 | IOSTANDARD = LVCMOS25;
#NET "LVDS_IO_P<1>" IOBDELAY = NONE | OUT_TERM = UNTUNED_75 | IOSTANDARD = LVCMOS25;
#NET "LVDS_IO_N<1>" IOBDELAY = NONE | OUT_TERM = UNTUNED_75 | IOSTANDARD = LVCMOS25;
#NET "LVDS_IO_P<2>" IOBDELAY = NONE | OUT_TERM = UNTUNED_75 | IOSTANDARD = LVCMOS25;
#NET "LVDS_IO_N<2>" IOBDELAY = NONE | OUT_TERM = UNTUNED_75 | IOSTANDARD = LVCMOS25;
#NET "LVDS_IO_P<3>" IOBDELAY = NONE | OUT_TERM = UNTUNED_75 | IOSTANDARD = LVCMOS25;
#NET "LVDS_IO_N<3>" IOBDELAY = NONE | OUT_TERM = UNTUNED_75 | IOSTANDARD = LVCMOS25;
#NET "LVDS_IO_P<4>" IOBDELAY = NONE | OUT_TERM = UNTUNED_75 | IOSTANDARD = LVCMOS25;
#NET "LVDS_IO_N<4>" IOBDELAY = NONE | OUT_TERM = UNTUNED_75 | IOSTANDARD = LVCMOS25;
#NET "LVDS_IO_P<5>" IOBDELAY = NONE | OUT_TERM = UNTUNED_75 | IOSTANDARD = LVCMOS25;
#NET "LVDS_IO_N<5>" IOBDELAY = NONE | OUT_TERM = UNTUNED_75 | IOSTANDARD = LVCMOS25;
#

NET "PC1_ARM_IRQ0" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PON_PADDLEn<1>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PON_PADDLEn<2>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PON_PADDLEn<3>" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "PON_RESETn" IOBDELAY = NONE | IOSTANDARD = LVCMOS25 | PULLUP;
NET "POW_ALERT" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
NET "POW_SW_SCL" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "POW_SW_SDA" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "QOSC1_DAC_SYNCn" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "QOSC2_DAC_SCKL" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "QOSC2_DAC_SDIN" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "QOSC2_DAC_SYNCn" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "QOSC2_ENA" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "RS232_RXD" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
NET "RS232_TXD" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "RS485_DE" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "RS485_PV" DRIVE = 12 | IOSTANDARD = LVCMOS25  | SLEW = SLOW;
NET "RS485_REn" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "RS485_RXD" IOBDELAY = NONE | IOSTANDARD = LVCMOS25;
NET "RS485_TXD" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "TEMPERATURE" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "TEST_DAC_SCL" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "TEST_DAC_SDA" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "TEST_GATE<1>" IOSTANDARD = LVCMOS25 | OUT_TERM = UNTUNED_50 | SLEW = FAST;
NET "TEST_GATE<2>" IOSTANDARD = LVCMOS25 | OUT_TERM = UNTUNED_50 | SLEW = FAST;
NET "TEST_GATE<3>" IOSTANDARD = LVCMOS25 | OUT_TERM = UNTUNED_50 | SLEW = FAST;
NET "TEST_PDn" DRIVE = 12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;

#temporary:
#INST "BUFPLL1_inst" LOC = "BUFPLL_X1Y0";
#PIN "BUFPLL1_inst.IOCLK" LOC = BUFPLL_X1Y0; 
# PIN "gps_ns/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "BUFPLL1_inst.IOCLK" CLOCK_DEDICATED_ROUTE = FALSE; 
#PIN "disc_out_oserdes[0].OSERDES2_master_inst.CLK0" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "EBI1_NRD" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "rd_clk_DPR_inst.O" CLOCK_DEDICATED_ROUTE = FALSE;


NET "*drs4RefClockPeriod*" TPTHRU = thru_1;
TIMESPEC TS_thru_1 = FROM FFS THRU thru_1 TO FFS TIG;
#NET "x16/sendRoi*" TPTHRU = thru_2;
#TIMESPEC TS_thru_2 = FROM FFS THRU thru_2 TO FFS TIG;
#NET "*x16/bitCounter1*" TPTHRU = thru_3;
#TIMESPEC TS_thru_3 = FROM FFS THRU thru_3 TO FFS TIG;
#NET "*x3/ltm9007_14_0w_bitslipPattern*" TPTHRU = thru_4;
#TIMESPEC TS_thru_4 = FROM FFS THRU thru_4 TO FFS TIG;
#NET "*bitslipfailed*" TPTHRU = thru_5;
#TIMESPEC TS_thru_5 = FROM FFS THRU thru_5 TO FFS TIG;

NET "*U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/D*" TIG;
NET "*U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/D*" TIG;

NET "*_TPTHRU_TIG*" TPTHRU = thru_x;
TIMESPEC TS_thru_x = FROM FFS THRU thru_x TO FFS TIG;

#NET "*_TO_TIG*" 
#TIMEGRP to_group_x "*_TO_TIG*" 
#TIMESPEC TS_thru_x = FROM FFS TO to_group_x TIG;



