# last change: 2018-10-10
#
# Timing
NET "QOSC_25MHZ" period = 40 ns ;

NET "QOSC_25MHZ" TNM = qosc_clk;

TIMESPEC "TS01"   = PERIOD "qosc_clk" 40 HIGH 20 INPUT_JITTER 0.1; ## period 10ns, 5ns high time, 100ps jitter
#TIMESPEC TS_cl0_tpd = FROM "discr" TO "cl0_out" 11.0 ns;# DATAPATHONLY;

# Bank_0, 3.3V
NET "PWRENn"    IOSTANDARD = "LVCMOS33" | LOC = P142;
NET "FT_TEST"   IOSTANDARD = "LVCMOS33" | LOC = P141;
NET "FT_RESETn" IOSTANDARD = "LVCMOS33" | LOC = P140;
NET "CLK_6MHZ"  IOSTANDARD = "LVCMOS33" | LOC = P139;
NET "TEST_IO0"  IOSTANDARD = "LVCMOS33" | LOC = P138;
NET "TEST_IO1"  IOSTANDARD = "LVCMOS33" | LOC = P137 | PULLUP;
NET "TEST_IO2"  IOSTANDARD = "LVCMOS33" | LOC = P134;
NET "TEST_IO3"  IOSTANDARD = "LVCMOS33" | LOC = P133 | PULLUP;
NET "TEST_IO4"  IOSTANDARD = "LVCMOS33" | LOC = P132;
NET "TEST_IO5"  IOSTANDARD = "LVCMOS33" | LOC = P131 | PULLUP;
NET "TEST_IO6"  IOSTANDARD = "LVCMOS33" | LOC = P127;
NET "TEST_IO7"  IOSTANDARD = "LVCMOS33" | LOC = P126;
NET "TEST_IO8"  IOSTANDARD = "LVCMOS33" | LOC = P124;
NET "TEST_IO9"  IOSTANDARD = "LVCMOS33" | LOC = P123 | PULLUP;
NET "TEST_IO10" IOSTANDARD = "LVCMOS33" | LOC = P121;
NET "TEST_IO11" IOSTANDARD = "LVCMOS33" | LOC = P120 | PULLUP;
NET "TEST_IO12" IOSTANDARD = "LVCMOS33" | LOC = P119;
NET "TEST_IO13" IOSTANDARD = "LVCMOS33" | LOC = P118 | PULLUP;
NET "TEST_IO14" IOSTANDARD = "LVCMOS33" | LOC = P117 | OUT_TERM = untuned_75;
NET "TEST_IO15" IOSTANDARD = "LVCMOS33" | LOC = P116 | OUT_TERM = untuned_75;
#NET "I2C_DATA"  IOSTANDARD = "LVCMOS33" | LOC = P115;
#NET "I2C_SCL "  IOSTANDARD = "LVCMOS33" | LOC = P114;

# Bank_1, 1.8V
NET "COM_ADC_CSBn"  IOSTANDARD = "LVCMOS18" | LOC = P104;
NET "COM_ADC_SCLK"  IOSTANDARD = "LVCMOS18" | LOC = P102;
NET "COM_ADC_SDIO"  IOSTANDARD = "LVCMOS18" | LOC = P101;
NET "COM_ADC_D<0>"  IOSTANDARD = "LVCMOS18" | LOC = P99;
NET "COM_ADC_D<1>"  IOSTANDARD = "LVCMOS18" | LOC = P98;
NET "COM_ADC_D<2>"  IOSTANDARD = "LVCMOS18" | LOC = P97;
NET "COM_ADC_D<3>"  IOSTANDARD = "LVCMOS18" | LOC = P95;
NET "COM_ADC_D<4>"  IOSTANDARD = "LVCMOS18" | LOC = P94;
NET "COM_ADC_D<5>"  IOSTANDARD = "LVCMOS18" | LOC = P93;
NET "COM_ADC_D<6>"  IOSTANDARD = "LVCMOS18" | LOC = P92;
NET "COM_ADC_D<7>"  IOSTANDARD = "LVCMOS18" | LOC = P88;
NET "COM_ADC_D<8>"  IOSTANDARD = "LVCMOS18" | LOC = P87;
NET "COM_ADC_D<9>"  IOSTANDARD = "LVCMOS18" | LOC = P85;
NET "COM_ADC_D<10>" IOSTANDARD = "LVCMOS18" | LOC = P84;
NET "COM_ADC_D<11>" IOSTANDARD = "LVCMOS18" | LOC = P83;
NET "COM_ADC_D<12>" IOSTANDARD = "LVCMOS18" | LOC = P82;
NET "COM_ADC_D<13>" IOSTANDARD = "LVCMOS18" | LOC = P81;
#NET "COM_ADC_DCO"   IOSTANDARD = "LVCMOS18" | LOC = P80; 
#NET "COM_ADC_OR"    IOSTANDARD = "LVCMOS18" | LOC = P79;
NET "RX_LEDn"       IOSTANDARD = "LVCMOS18" | LOC = P78;
#NET "QOSCL_SCL"     IOSTANDARD = "LVCMOS18" | LOC = P75;
#NET "QOSCL_SDA"     IOSTANDARD = "LVCMOS18" | LOC = P74;
                                           
# Bank_2, 3.3V
NET "COM_DAC_DB<0>"  IOSTANDARD = "LVCMOS33" | LOC = P40;
NET "COM_DAC_DB<1>"  IOSTANDARD = "LVCMOS33" | LOC = P41;
NET "COM_DAC_DB<2>"  IOSTANDARD = "LVCMOS33" | LOC = P43;
NET "COM_DAC_DB<3>"  IOSTANDARD = "LVCMOS33" | LOC = P44;
NET "COM_DAC_DB<4>"  IOSTANDARD = "LVCMOS33" | LOC = P45;
NET "COM_DAC_DB<5>"  IOSTANDARD = "LVCMOS33" | LOC = P46;
NET "COM_DAC_DB<6>"  IOSTANDARD = "LVCMOS33" | LOC = P47;
NET "COM_DAC_DB<7>"  IOSTANDARD = "LVCMOS33" | LOC = P48;
NET "COM_DAC_DB<8>"  IOSTANDARD = "LVCMOS33" | LOC = P50;
NET "COM_DAC_DB<9>"  IOSTANDARD = "LVCMOS33" | LOC = P51;
NET "QOSC_25MHZ"     IOSTANDARD = "LVCMOS33" | LOC = P56;
NET "COM_DAC_DB<10>" IOSTANDARD = "LVCMOS33" | LOC = P58;
NET "COM_DAC_DB<11>" IOSTANDARD = "LVCMOS33" | LOC = P59;
NET "COM_DAC_CLOCK"  IOSTANDARD = "LVCMOS33" | LOC = P61;
NET "TX_LEDn"        IOSTANDARD = "LVCMOS33" | LOC = P62;
NET "COM_ADC_CLK_N"  IOSTANDARD = "LVDS_33"  | LOC = P66;
NET "COM_ADC_CLK_P"  IOSTANDARD = "LVDS_33"  | LOC = P67;

# Bank_3, 3.3V
NET "BDBUS0" IOSTANDARD = "LVCMOS33" | LOC = P1;
NET "BDBUS1" IOSTANDARD = "LVCMOS33" | LOC = P2;
#NET "BDBUS2" IOSTANDARD = "LVCMOS33" | LOC = P5;
#NET "BDBUS3" IOSTANDARD = "LVCMOS33" | LOC = P6;
#NET "BDBUS4" IOSTANDARD = "LVCMOS33" | LOC = P7;
#NET "BDBUS5" IOSTANDARD = "LVCMOS33" | LOC = P8;
#NET "BDBUS6" IOSTANDARD = "LVCMOS33" | LOC = P9;
#NET "BDBUS7" IOSTANDARD = "LVCMOS33" | LOC = P10;
#NET "BCBUS0" IOSTANDARD = "LVCMOS33" | LOC = P11;
#NET "BCBUS1" IOSTANDARD = "LVCMOS33" | LOC = P12;
NET "BCBUS2" IOSTANDARD = "LVCMOS33" | PULLUP | LOC = P14;
NET "BCBUS3" IOSTANDARD = "LVCMOS33" | PULLUP | LOC = P15;
#NET "SI_WUB" IOSTANDARD = "LVCMOS33" | LOC = P16;
NET "ADBUS0" IOSTANDARD = "LVCMOS33" | LOC = P17;
NET "ADBUS1" IOSTANDARD = "LVCMOS33" | LOC = P21;
#NET "ADBUS2" IOSTANDARD = "LVCMOS33" | LOC = P22;
#NET "ADBUS3" IOSTANDARD = "LVCMOS33" | LOC = P23;
#NET "ADBUS4" IOSTANDARD = "LVCMOS33" | LOC = P24;
#NET "ADBUS5" IOSTANDARD = "LVCMOS33" | LOC = P26;
#NET "ADBUS6" IOSTANDARD = "LVCMOS33" | LOC = P27;
#NET "ADBUS7" IOSTANDARD = "LVCMOS33" | LOC = P29;
#NET "ACBUS0" IOSTANDARD = "LVCMOS33" | LOC = P30;
#NET "ACBUS1" IOSTANDARD = "LVCMOS33" | LOC = P32;
NET "ACBUS2" IOSTANDARD = "LVCMOS33" | PULLUP | LOC = P33;
NET "ACBUS3" IOSTANDARD = "LVCMOS33" | PULLUP | LOC = P34;
#NET "SI_WUA" IOSTANDARD = "LVCMOS33" | LOC = P35;

