# pin assignment compatible both,  for XC6SLX16-3CSG324I and XC6SLX45-3CSG324I
# prevent config. signals from being used
CONFIG PROHIBIT = R13; # DIN
CONFIG PROHIBIT = D4 ; # HSWAPEN
CONFIG PROHIBIT = T15; # M0
CONFIG PROHIBIT = N12; # M1
CONFIG PROHIBIT = T13; # MOSI
CONFIG PROHIBIT = V3 ; # CSO_B
CONFIG PROHIBIT = R15; # CCLK
CONFIG PROHIBIT = U3 ; # INIT_B
#CONFIG PROHIBIT = T20; "DOUT_BUSY"
#
# for migration to XC6SLX45
# DO NOT USE  C12; # 
# DO NOT USE  D12; # 
# DO NOT USE  E6 ; # 
# DO NOT USE  E7 ; # 
# DO NOT USE  E8 ; # 
# DO NOT USE  E11; # 
# DO NOT USE  E12; # 
# DO NOT USE  F7 ; # 
# DO NOT USE  F8 ; # 
# DO NOT USE  F10; # 
# DO NOT USE  F11; # 
# DO NOT USE  F12; # 
# DO NOT USE  G8 ; # 
# DO NOT USE  G11; # 

NET "QOSC_OUT" TNM_NET = "qosc";
TIMESPEC "TS_qosc" = PERIOD "qosc" 40 ns HIGH 50%;

# Bank_0

NET "EBI1_ADDR<0>"  LOC = B2  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<1>"  LOC = A2  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<2>"  LOC = B3  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<3>"  LOC = A3  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<4>"  LOC = B4  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<5>"  LOC = A4  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<6>"  LOC = C4  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<7>"  LOC = A5  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<8>"  LOC = C5  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<9>"  LOC = A6  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<10>" LOC = B6  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<11>" LOC = A7  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<12>" LOC = C7  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<13>" LOC = A8  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<14>" LOC = B8  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_ADDR<15>" LOC = C8  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
#
NET "EBI1_D<0>"     LOC = C10 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<1>"     LOC = A11 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<2>"     LOC = B11 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<3>"     LOC = C11 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<4>"     LOC = B12 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<5>"     LOC = A12 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<6>"     LOC = E13 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<7>"     LOC = A13 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<8>"     LOC = C13 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<9>"     LOC = A14 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<10>"    LOC = B14 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<11>"    LOC = C14 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<12>"    LOC = A15 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<13>"    LOC = C15 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<14>"    LOC = B16 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "EBI1_D<15>"    LOC = A16 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
#                
NET "EBI1_NCS2"     LOC = B9  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_NRD"      LOC = C9  | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_NWE"      LOC = A10 | IOSTANDARD = LVCMOS18 | IOBDELAY = NONE ;
NET "EBI1_NWAIT"    LOC = D14 | IOSTANDARD = LVCMOS18 | DRIVE = 12 | SLEW = SLOW;

# Bank_1

NET "COM_ADC_D<0>"   LOC = D17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<1>"   LOC = E16 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<2>"   LOC = E18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<3>"   LOC = F17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<4>"   LOC = F18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<5>"   LOC = H18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<6>"   LOC = H17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<7>"   LOC = J18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<8>"   LOC = J16 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<9>"   LOC = K18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<10>"  LOC = K17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<11>"  LOC = L18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<12>"  LOC = L17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<13>"  LOC = M18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ;
NET "COM_ADC_OR"    LOC = K14 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ;  
NET "COM_ADC_SCLK"  LOC = C17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ; 
NET "COM_ADC_CSBn"  LOC = C18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ; 
NET "COM_ADC_SDIO"  LOC = D18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ; 
#
NET "DRS4_RESETn"   LOC = P15 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "DRS4_A<0>"     LOC = N18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "DRS4_A<1>"     LOC = N16 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "DRS4_A<2>"     LOC = P16 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "DRS4_A<3>"     LOC = P17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "DRS4_DENABLE"  LOC = K16 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "DRS4_DWRITE"   LOC = N15 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "DRS4_RSLOAD"   LOC = U17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "DRS4_SRCLK"    LOC = U18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "DRS4_SRIN"     LOC = T17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "DRS4_SROUT"    LOC = T18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ;
NET "DRS4_WSRIN"    LOC = N17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "DRS4_WSROUT"   LOC = P18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ;
NET "DRS4_DTAP"     LOC = L13 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ;
NET "DRS4_PLLLCK"   LOC = M16 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ;
#
NET "nLED_ENA"      LOC = H16 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "nLED_GREEN"    LOC = H15 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "nLED_RED"      LOC = H14 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "CFG_STAMPn"    LOC = K15 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;

# Bank_2

NET "COM_ADC_CLK_P" LOC = U16 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "COM_ADC_CLK_N" LOC = V16 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
#
NET "ADC_ENCp"      LOC = U15 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_ENCn"      LOC = V15 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAP<1>"  LOC = T6  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAN<1>"  LOC = V6  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAP<2>"  LOC = R3  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAN<2>"  LOC = T3  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAP<3>"  LOC = U5  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAN<3>"  LOC = V5  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAP<4>"  LOC = T4  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAN<4>"  LOC = V4  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAP<5>"  LOC = N6  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAN<5>"  LOC = P7  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAP<6>"  LOC = M11 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAN<6>"  LOC = N11 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAP<7>"  LOC = U13 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAN<7>"  LOC = V13 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAP<8>"  LOC = T14 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_OUTAN<8>"  LOC = V14 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_DCOAP"     LOC = R10 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_DCOAN"     LOC = T10 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_DCOBP"     LOC = T9  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_DCOBN"     LOC = V9  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_FRAP"      LOC = R8  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_FRAN"      LOC = T8  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_FRBP"      LOC = U10 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_FRBN"      LOC = V10 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "ADC_CSAn"      LOC = V11 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "ADC_CSBn"      LOC = V12 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "ADC_SCK"       LOC = U11 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "ADC_SDI"       LOC = T12 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "ADC_PAR_SERn"  LOC = U7  | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "DISCR_OUTp<0>" LOC = R5  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "DISCR_OUTn<0>" LOC = T5  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "DISCR_OUTp<1>" LOC = R7  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "DISCR_OUTn<1>" LOC = T7  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "DISCR_OUTp<2>" LOC = N7  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "DISCR_OUTn<2>" LOC = P8  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "DISCR_OUTp<3>" LOC = R11 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "DISCR_OUTn<3>" LOC = T11 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "DISCR_OUTp<4>" LOC = N10 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "DISCR_OUTn<4>" LOC = P11 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "DISCR_OUTp<5>" LOC = M10 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "DISCR_OUTn<5>" LOC = N9  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
#
NET "FLB_TRIG1_P"   LOC = N5  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "FLB_TRIG1_N"   LOC = P6  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "FLB_TRIG2_P"   LOC = M8  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "FLB_TRIG2_N"   LOC = N8  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
#
NET "DRS4_REFCLKp"  LOC = U8  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "DRS4_REFCLKn"  LOC = V8  | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 

# Bank_3

NET "QOSC_OUT"      LOC = H3  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE ; # global clock input
#
NET "I2C_SCL<0>"    LOC = N4  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "I2C_DATA<0>"   LOC = N3  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "I2C_SCL<1>"    LOC = U1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "I2C_DATA<1>"   LOC = U2  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "I2C_SCL<2>"    LOC = T1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "I2C_DATA<2>"   LOC = T2  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "I2C_SCL<3>"    LOC = P1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "I2C_DATA<3>"   LOC = P2  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "I2C_SCL<4>"    LOC = N1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "I2C_DATA<4>"   LOC = N2  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "DAC_SCL"       LOC = P4  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "DAC_SDA"       LOC = P3  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "FLB_I2C_SCL"   LOC = F4  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "FLB_I2C_DATA"  LOC = E4  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
#
NET "COM_DAC_CLOCK" LOC = K1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<0>" LOC = C2  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<1>" LOC = C1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<2>" LOC = D2  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<3>" LOC = D1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<4>" LOC = E3  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<5>" LOC = E1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<6>" LOC = F2  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<7>" LOC = F1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<8>" LOC = G3  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<9>" LOC = G1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<10>"LOC = H2  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<11>"LOC = H1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
#
NET "STAMP_DRXD"    LOC = J3  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE ;
NET "STAMP_DTXD"    LOC = J1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "STAMP_RXD1"    LOC = H5  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE ;
NET "STAMP_TXD1"    LOC = H4  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "PC1_ARM_IRQ0"  LOC = F5  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
#
NET "HCM_DRDY"      LOC = D3  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE ;
#
NET "TEST_IO<0>"    LOC = M1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "TEST_IO<1>"    LOC = M3  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "TEST_IO<2>"    LOC = L1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "TEST_IO<3>"    LOC = L2  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;

