# pin assignment compatible both,  for XC6SLX16-3CSG324I and XC6SLX45-3CSG324I
# prevent config. signals from being used
CONFIG PROHIBIT = R13; # DIN
CONFIG PROHIBIT = D4 ; # HSWAPEN
CONFIG PROHIBIT = T15; # M0
CONFIG PROHIBIT = N12; # M1
CONFIG PROHIBIT = T13; # MOSI
CONFIG PROHIBIT = V3 ; # CSO_B
CONFIG PROHIBIT = R15; # CCLK
CONFIG PROHIBIT = U3 ; # INIT_B
#CONFIG PROHIBIT = T20; "DOUT_BUSY"
#
# for migration to XC6SLX45
# DO NOT USE  C12; # 
# DO NOT USE  D12; # 
# DO NOT USE  E6 ; # 
# DO NOT USE  E7 ; # 
# DO NOT USE  E8 ; # 
# DO NOT USE  E11; # 
# DO NOT USE  E12; # 
# DO NOT USE  F7 ; # 
# DO NOT USE  F8 ; # 
# DO NOT USE  F10; # 
# DO NOT USE  F11; # 
# DO NOT USE  F12; # 
# DO NOT USE  G8 ; # 
# DO NOT USE  G11; # 

#NET "QOSC_OUT" TNM_NET = "qosc";
#TIMESPEC "TS_qosc" = PERIOD "qosc" 40 ns HIGH 50%;

NET "clk" TNM_NET = "sys_clk";
TIMESPEC "TS_sys_clk" = PERIOD "sys_clk" 16.7 ns HIGH 50%;
NET "com_clk" TNM_NET = "com_clk";
TIMESPEC "TS_com_clk" = PERIOD "com_clk" 16.7 ns HIGH 50%;


# Bank_1

NET "COM_ADC_D<0>"   LOC = D17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<1>"   LOC = E16 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<2>"   LOC = E18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<3>"   LOC = F17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<4>"   LOC = F18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<5>"   LOC = H18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<6>"   LOC = H17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<7>"   LOC = J18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<8>"   LOC = J16 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<9>"   LOC = K18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<10>"  LOC = K17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<11>"  LOC = L18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<12>"  LOC = L17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ; 
NET "COM_ADC_D<13>"  LOC = M18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ;
NET "COM_ADC_OR"    LOC = K14 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE ;  
NET "COM_ADC_SCLK"  LOC = C17 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ; 
NET "COM_ADC_CSBn"  LOC = C18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ; 
NET "COM_ADC_SDIO"  LOC = D18 | IOSTANDARD = LVCMOS25 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ; 

# Bank_2

NET "COM_ADC_CLK_P" LOC = U16 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 
NET "COM_ADC_CLK_N" LOC = V16 | IOSTANDARD = LVDS_25 | IOBDELAY = NONE ; 

# Bank_3

NET "COM_DAC_CLOCK" LOC = K1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<0>" LOC = C2  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<1>" LOC = C1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<2>" LOC = D2  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<3>" LOC = D1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<4>" LOC = E3  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<5>" LOC = E1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<6>" LOC = F2  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<7>" LOC = F1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<8>" LOC = G3  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<9>" LOC = G1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<10>"LOC = H2  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "COM_DAC_DB<11>"LOC = H1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
#
NET "STAMP_DRXD"    LOC = J3  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE ;
NET "STAMP_DTXD"    LOC = J1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "STAMP_RXD1"    LOC = H5  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE ;
NET "STAMP_TXD1"    LOC = H4  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "PC1_ARM_IRQ0"  LOC = F5  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
#
NET "TEST_IO<0>"    LOC = M1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "TEST_IO<1>"    LOC = M3  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "TEST_IO<2>"    LOC = L1  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;
NET "TEST_IO<3>"    LOC = L2  | IOSTANDARD = LVCMOS33 | IOBDELAY = NONE | DRIVE = 2 | SLEW = SLOW ;

